* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 30px;
    background-color: aqua;
    color: black;
    margin-bottom: 25px;
    text-align: center;
}


section {
    margin: 10px 20% 5px 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

h2, h3 {
    font-style: bold;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-size: 12px;
}

.card {
    padding: 10px;
    min-width: 33%;
    height: 250px!important;
    text-align: center;
    border-style: double;
    border-color: black;
    border-radius: 5px;
    margin: 10px;
}

.card-header {
    background-color: coral;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-body {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: left;
    padding-left: 15px;
    line-height: 2;
}